.header h1{
  font-size: 100px;
  color: blue;
}

.main-page{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.counter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.action-btn{
  background-color: lightgreen;
  border: none;
  margin: 5px 10px;
  padding: 10px 15px;
  font-size: 20px;
  color: red;
  border-radius: 10px;
  cursor: pointer;
}

.action-btn:hover{
  background-color: green;
  font-size: 21px;
}

.counter-label{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.form-container input{
border: 1px #ccc solid;
max-width: 200px;
width: 100%;
margin: 5px 0;
padding: 8px 10px;
border-radius: 5px;
}

.form-container button{
border: none;
background-color: rgb(60, 211, 0);
color: white;
max-width: 220px;
width: 100%;
margin: 5px 0;
padding: 8px 10px;
border-radius: 5px;
cursor: pointer;
}